/****************************   特殊   ****************************/
body {
    font-family: -apple-system, "PingFang SC","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #1a1a1a;
    background-color: #f6f6f6;
}

#root {
    width: 100%;
}

/****************************   颜色   ****************************/
.bg-color-main {
    background-color: #f6f6f6;
}

.bg-color-none {
    background-color: rgba(255, 255, 255, 0);
}

.color-primary {
    color: #23394d;
}

.color-second {
    color: #8590a6;
}

.color-grey {
    color: grey;
}

.color-white {
    color: white;
}

.color-f6 {
    color: #f6f6f6;
}

.hover-color-white:hover {
    color: white;
}

.hover-color-red:hover {
    color: red;
}

.bg-color-red {
    background-color: red;
}

.bg-color-yellow {
    background-color: yellow;
}

/****************************   文字   ****************************/
.text-align-center {
    text-align: center;
}

.text-decoration-none {
    text-decoration: none;
}

.font-size-15px {
    font-size: 15px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-25px {
    font-size: 25px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-35px {
    font-size: 35px;
}

.font-size-40px {
    font-size: 40px;
}

.font-size-45px {
    font-size: 45px;
}

.font-size-50px {
    font-size: 50px;
}

.font-size-55px {
    font-size: 55px;
}

.font-size-60px {
    font-size: 60px;
}

.font-weight-bold {
    font-weight: bold;
}

/****************************   对齐   ****************************/
.p-0-auto {
    padding: 0 auto;
}

.p-20px {
    padding: 20px
}

.p-0-60px {
    padding: 0 60px;
}

.pt-0 {
    padding-top: 0;
}

.pt-10px {
    padding-top: 10px;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-10px {
    padding-bottom: 10px;
}

.m-0-auto {
    margin: 0 auto;
}

.mt-0 {
    margin-top: 0;
}

.mt-10px {
    margin-top: 10px;
}

.mt-20px {
    margin-top: 20px;
}

.mt-30px {
    margin-top: 30px;
}

.mt-40px {
    margin-top: 40px;
}

.mt-50px {
    margin-top: 50px;
}

.mt-60px {
    margin-top: 60px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-15px {
    margin-bottom: 15px;
}

.ml-10px {
    margin-left: 10px;
}

.ml-20px {
    margin-left: 20px;
}

.mr-10px {
    margin-right: 10px;
}

.mr-20px {
    margin-right: 20px;
}

/****************************   长宽   ****************************/
.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.w-100px {
    width: 100px;
}

.w-200px {
    width: 200px;
}

.w-250px {
    width: 250px;
}

.w-300px {
    width: 300px;
}

.h-80 {
    height: 80%;
}

.h-100 {
    height: 100%;
}

.h-100px {
    height: 100px;
}

.h-auto {
    height: auto;
}

/****************************   布局   ****************************/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/****************************   杂项   ****************************/
.shadow-little {
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}