/* body */
body {
    background-color: #f6f6f6;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

/* #root */
#root {
    width: 100%;
}

.bg-color-nav-bar {
    background-color: #4fc08d;
}

.lh-nav-bar {
    line-height: 60px;
}

.h-nav-bar {
    height: 60px;
}

.w-block-list {
    width: 100%;
}
